<div data-slot="card-title"
     class="@GetClasses()"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
        => string.IsNullOrWhiteSpace(Class)
            ? "text-base leading-snug font-medium group-data-[size=sm]/card:text-sm"
            : $"text-base leading-snug font-medium group-data-[size=sm]/card:text-sm {Class}";
}
