@namespace ShadcnBlazor.Components.UI

<div data-slot="card-description"
     class="@GetClasses()"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClasses()
        => string.IsNullOrWhiteSpace(Class)
            ? "text-muted-foreground text-sm"
            : $"text-muted-foreground text-sm {Class}";
}
