@namespace ShadcnBlazor.Components.UI

<div data-slot="avatar"
     data-size="@Size"
     class="@GetClasses()"
     @attributes="AdditionalAttributes">
    <div class="size-full overflow-hidden rounded-full">
        <CascadingValue Value="_context" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</div>

@code {
    private readonly AvatarContext _context = new();

    [Parameter] public string Size { get; set; } = "default";
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        _context.Configure(() => InvokeAsync(StateHasChanged));
    }

    private string GetClasses()
        => string.IsNullOrWhiteSpace(Class)
            ? "group/avatar relative flex size-8 shrink-0 select-none overflow-visible rounded-full data-[size=sm]:size-6 data-[size=lg]:size-10"
            : $"group/avatar relative flex size-8 shrink-0 select-none overflow-visible rounded-full data-[size=sm]:size-6 data-[size=lg]:size-10 {Class}";
}
