<div data-slot="alert-dialog-title"
     class="@Tw.Merge("text-base font-medium sm:group-data-[size=default]/alert-dialog-content:group-has-[>[data-slot=alert-dialog-media]]/alert-dialog-content:col-start-2", Class)"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
