<div data-slot="alert-dialog"
     class="@GetClasses()"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private static string GetBaseClasses()
        => "inline-block";

    private string GetClasses()
        => Tw.Merge(GetBaseClasses(), Class);
}
