<div role="group"
     data-slot="button-group"
     data-orientation="@OrientationValue"
     class="@Tw.Merge("flex w-fit items-stretch [&>*]:focus-visible:z-10 [&>*]:focus-visible:relative has-[>[data-slot=button-group]]:gap-2", OrientationClass, Class)"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public GroupOrientation Orientation { get; set; } = GroupOrientation.Horizontal;
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string OrientationValue => Orientation == GroupOrientation.Vertical ? "vertical" : "horizontal";
    private string OrientationClass
        => Orientation == GroupOrientation.Vertical
            ? "flex-col [&>*:not(:first-child)]:rounded-t-none [&>*:not(:first-child)]:border-t-0 [&>*:not(:last-child)]:rounded-b-none"
            : "[&>*:not(:first-child)]:rounded-l-none [&>*:not(:first-child)]:border-l-0 [&>*:not(:last-child)]:rounded-r-none";

    public enum GroupOrientation
    {
        Horizontal,
        Vertical
    }
}
