<CascadingValue Name="PopoverContext" Value="@_context">
    <div data-slot="popover" class="@Tw.Merge("relative inline-block", Class)" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback<bool> OpenChanged { get; set; }
    [Parameter] public bool DefaultOpen { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool _open;
    private bool _initialized;
    private PopoverContext _context = default!;

    protected override void OnParametersSet()
    {
        if (OpenChanged.HasDelegate)
        {
            _open = Open;
        }
        else if (!_initialized)
        {
            _open = DefaultOpen;
            _initialized = true;
        }

        _context = new PopoverContext
        {
            Open = _open,
            SetOpenAsync = SetOpenAsync
        };
    }

    private async Task SetOpenAsync(bool value)
    {
        if (!OpenChanged.HasDelegate)
        {
            _open = value;
        }

        if (OpenChanged.HasDelegate)
        {
            await OpenChanged.InvokeAsync(value);
        }

        StateHasChanged();
    }
}
