<CascadingValue Name="TooltipContext" Value="@_context">
    <div data-slot="tooltip" class="@Tw.Merge("relative inline-block", Class)" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback<bool> OpenChanged { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool _open;
    private TooltipContext _context = default!;

    protected override void OnParametersSet()
    {
        _open = Open;
        _context = new TooltipContext { Open = _open, SetOpenAsync = SetOpenAsync };
    }

    private async Task SetOpenAsync(bool value)
    {
        _open = value;
        if (OpenChanged.HasDelegate)
        {
            await OpenChanged.InvokeAsync(value);
        }
        StateHasChanged();
    }
}
