@namespace ShadcnBlazor.Components.UI
<CascadingValue Name="DropdownMenuContext" Value="@_context">
    <div data-slot="dropdown-menu" class="@Cn("relative inline-block", Class)" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback<bool> OpenChanged { get; set; }
    [Parameter] public bool DefaultOpen { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool _open;
    private DropdownMenuContext _context = default!;
    private bool _defaultsInitialized;

    protected override void OnParametersSet()
    {
        if (OpenChanged.HasDelegate)
        {
            _open = Open;
        }
        else if (!_defaultsInitialized)
        {
            _open = DefaultOpen;
            _defaultsInitialized = true;
        }

        _context = new DropdownMenuContext { Open = _open, SetOpenAsync = SetOpenAsync };
    }

    private async Task SetOpenAsync(bool value)
    {
        _open = value;
        _context = new DropdownMenuContext { Open = _open, SetOpenAsync = SetOpenAsync };
        if (OpenChanged.HasDelegate)
        {
            await OpenChanged.InvokeAsync(value);
        }
        StateHasChanged();
    }

    private static string Cn(params string?[] classes)
        => string.Join(" ", classes.Where(static value => !string.IsNullOrWhiteSpace(value)));
}

